ul{
    list-style-type: none;
    margin: 0;
    height: 100%;
    overflow: hidden;
}
.list-div{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid black;
}
li{
    float: left;
}
.container{
    padding-top:3%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.container-item{
    min-width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.indexcontainer{
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    align-items: center;
}
.ikzelffoto{
    border-radius: 50%;
    overflow: hidden;
    max-width: 45vw;
    max-height: 35vh;
}
li a {
    font-size: large;
    color: black;
    padding: 3vw;
    text-decoration: none;
}
.hyperlink-project:hover{
    color: red;
}
.image-project:hover{
    opacity : 0.5;
}
.image-project{
    max-height: 25vh;
    max-width: 25vw;
}
.grid-item{
    padding: 1vw;
}
.headerclass{
    background-color:blue;
    width: 95vw;
    height: 10vh;
}