@font-face{
    font-family: "Open Sans";
    src: url(../OpenSans.ttf);
}
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family: "Open Sans";
}
.nav-list{
    display: flex;
    flex-direction: row;
}
h4{
    color: black;
}
ul{
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}
.list{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid black;
}
li{
    display: flex;
    align-items: center;
    float: left;
    width: 100%;
    max-height: 15vh;
}
.container-nav{
    width: 100%;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.container-nav-item{
    display: flex;
    width: 30%;
    flex-direction: row;
}
.container-column{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 0.2fr 3fr;
}
.container {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container-item {
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    display: block;
    border-radius: 5px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: background-color 0.2s;
    min-width: 30%;
}
.indexcontainer{
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    align-items: center;
}
.ikzelffoto{
    border-radius: 50%;
    overflow: hidden;
    max-width: 45vw;
    max-height: 35vh;
}
.container-project{
    display: flex;
    padding-top: 5vh;
    align-items: center;
    flex-direction: column;
}
li a {
    font-size: large;
    color: black;
    padding: 3vw;
    text-decoration: none;
}
.image-project{
    max-height: 70vh;
    max-width: 60vw;
}
.image-prof{
    max-height: 10vh;
    max-width: 10vw;
}
.grid-item{
    padding: 1vw;
}
.headerclass{
    background-color:blue;
    width: 95vw;
    height: 10vh;
}